%div[presentation]
  %dl
    %dt Topic
    %dd.topic= h(presentation.topic)
    
    %dt Description
    %dd.description= h(presentation.description)
    
    %dt Speaker information
    %dd.speaker= h(presentation.speaker_description)
    
    %dt Length
    %dd.length= presentation_length(presentation)

    %dt Photo
    %dd.photo= image_tag presentation.photo.url(:normal)

  %p= link_to("Edit", edit_presentation_path(presentation))
