- form_for(@user || User.new) do |f|
  %fieldset
    %legend Your login information
    %dl
      %dt= f.label(:email, "E-mail")
      %dd
        = f.text_field(:email)
        = f.error_message_on(:email)
    
      %dt= f.label(:password, "Password")
      %dd
        = f.password_field(:password)
        = f.error_message_on(:password)

      %dt= f.label(:password_confirmation, "Password confirmation")
      %dd
        = f.password_field(:password_confirmation)
        = f.error_message_on(:password_confirmation)
  %fieldset
    %legend Your personal information
    %dl
      %dt= f.label(:first_name, "First name")
      %dd
        = f.text_field(:first_name)
        = f.error_message_on(:first_name)
    
      %dt= f.label(:last_name, "Last name")
      %dd
        = f.text_field(:last_name)
        = f.error_message_on(:last_name)

      %dt= f.label(:nick_name, "Nick name")
      %dd
        = f.text_field(:nick_name)
        = f.error_message_on(:nick_name)
  %p= f.submit("Create my account")
