- set_head_and_page_title("Your account data")

%p#site_news We will notify you when the registration starts

%dl#user_data
  %dt First name
  %dd= h(@user.first_name)
  
  %dt Last name
  %dd= h(@user.last_name)
  
  - unless @user.nick_name.blank?
    %dt Nick name
    %dd= h(@user.nick_name)

  %dt E-mail
  %dd= h(@user.email)

#presentations
  - unless @user.presentations.blank?
    %h2 Your presentations
  
    = render(:partial => "presentations/presentation", :collection => @user.presentations)

  %p= link_to("Submit presentation", new_presentation_path)

#billing_information
  - @user.billing_information.with do |billing_information|
    %h2 Your billing information
    
    %dl
      %dt Company name
      %dd= h(billing_information.name)
      
      %dt Full address
      %dd= simple_format(h(billing_information.name))
      
      %dt VAT-ID
      %dd= h(billing_information.taxid)
      
      - billing_information.other.with do |other|
        %dt Other billing information
        %dd= h(other)
      
      - billing_information.notes.with do |notes|
        %dt Notes
        %dd= h(notes)
    %p= link_to("Change billing information", edit_billing_information_path(billing_information))
  - @user.billing_information.without do
    %p= link_to("Add billing information", new_billing_information_path)