- form_for(@admin_session, :url => administration_admin_session_path) do |f|
  %dl
    %dt= f.label(:email, "E-mail")
    %dd
      = f.text_field(:email)
      = f.error_message_on(:email)
    
    %dt= f.label(:password, "Password")
    %dd
      = f.text_field(:password)
      = f.error_message_on(:password)
  
  %p= f.submit("Log in")
  
