#user_menu
  %ul
    = menu_to "Home", "http://www.euruko2010.org/"
    = menu_to "Users", users_path
    - if current_user
      %li= link_to "Log out", user_session_path, :method => :delete
      %li= link_to(h("You are logged in as %s." % current_user.full_name), current_user)
    - else
      = menu_to "Register", root_path
      = menu_to "Login", new_user_session_path
  
