!!! 5
%html
  %head
    = head_title("EuRuKo 2010")
    = meta_description("Register to EuRuKo 2010")
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'forms'
    = stylesheet_link_tag 'print'
    <!--[if IE]> 
    <%= stylesheet_link_tag 'ie', :media => "screen, projection" %>  
    <![endif]-->
  %body
    #header
      #nav
        = render :partial => 'layouts/menu' 
    #page
      #content
        - if flash[:notice]
          #flash= flash[:notice]
        %h1= page_title
        = yield
